<main>
    <h1 class="text-center text-uppercase">Hello World!</h1>
    <h2 class="text-end">2 title</h2>
    <h3>3 title</h3>
    <h4>4 title</h4>
    <h5>5 title</h5>
    <h6>6 title</h6>
    <hr>
    <div class="display-1 text-lowercase">Hello, World!</div>
    <div class="display-2 text-capitalize">2 title every word</div>
    <div class="display-3 text-muted">3 title</div>
    <div class="display-4">4 title</div>
    <div class="display-5">5 title</div>
    <div class="display-6">6 title</div>
    <hr>
    <div class="text-end"><span class="text-muted">Додатковий <span class="display-6">текст</span></span></div>
    <hr>
    <button>Test button 1</button>
    <button class="btn">Test button 2</button>
    <button class="btn btn-primary">Test button 3</button>
    <button class="btn btn-secondary">Test button 4</button>
    <button class="btn btn-success">Test button 5</button>
    <button class="btn btn-danger">Test button 6</button>
    <button class="btn btn-warning">Test button 7</button>
    <button class="btn btn-info">Test button 8</button>
    <button class="btn btn-light">Test button 9</button>
    <button class="btn btn-dark">Test button 10</button>
    <button class="btn btn-link">Test button 11</button>
    <hr>
    <p class="text-primary">Text testing і далі як з кнопками окрім -link</p>
    <p class="text-link">Text testing і далі як з кнопками окрім -link</p>
    <hr>
    <button class="btn btn-outline-success ">Test button 5</button>
    <hr>
    <button class="btn btn-dark btn-lg">Test button 10</button>
    <button class="btn btn-light btn-sm">Test button 10</button>
    <br>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <button class="btn btn-primary">Test button 3</button>
            <button class="btn btn-secondary">Test button 4</button>
            <button class="btn btn-success">Test button 5</button>
            <button class="btn btn-danger">Test button 6</button>
            <button class="btn btn-warning">Test button 7</button>
            <button class="btn btn-info">Test button 8</button>
            <button class="btn btn-light">Test button 9</button>
            <button class="btn btn-dark">Test button 10</button>
            <button class="btn btn-link">Test button 11</button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            This is a contant
        </div>
    </div>



</main>


<div>
    in progress...
</div>