{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div class="container">
    {{#with main}}
    <main class="mt-5 row">

        {{#with summary}}
        <section class="col-6">
            {{>title data="Summary" big=true}}
            <div class="card">
                <div class="card-body">{{text}}</div>
            </div>
        </section>
        {{/with}}

        {{#with experience}}
        <section class="col-6">
            {{>title data="Other experience" big=false}}
            <div class="card">
                <div class="card-body">{{text}}</div>
            </div>
        </section>
        {{/with}}

    </main>
    {{/with}}
</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}