<main>
    <div class="text-center">
        <h1>H1 Heading</h1>
        <p class="text-uppercase">Paragraph</p>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="display-6 text-end"><b>Display 6</b></div>
            <br>
            <h2 class="text-end">H2 Heading</h2>
            <br>

            <button class="btn btn-outline-info">Info</button>
        </div>
    </div>
    <br>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="display-5 text-muted btn-lg">Display-5 Advantage</div>
            <br>
            <div class="card">
                <div class="card-body">
                    <div class="display-4 text-muted btn-sm">Display 4 efficiency</div>
                    <br>
                    <h6>H6 Heading</h6>
                    <br>
                    <div class="">Paragraph</div>
                    <br>
                    <button class="btn btn-outline-warning">Warning</button>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <div class="display-4 text-muted btn-sm">Display 4 innovation</div>
                        <br>
                        <h6>H6 Heading</h6>
                        <br>
                        <div class="">Paragraph</div>
                    </div>
                    <br>
                    <button class="btn btn-outline-warning">Warning</button>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <div class="text-end">
                        <div class="display-4 text-muted btn-sm">Display 4 collaboration</div>
                        <br>
                        <h6>H6 Heading</h6>
                        <br>
                        <div class="">Paragraph</div>
                    </div>
                    <br>
                    <button class="btn btn-outline-warning">Warning</button>
                </div>
            </div>
            <br>

        </div>
    </div>
    <br>
    <br>
    <div class="card">
        <div class="card-body">

            <div class="display-5 ">Display 5 agreement</div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h5>H5 Heading</h5>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <div class="">Paragraph</div>

                            <br>
                            <button class="btn btn-success">Success</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</main>