<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <b style="color:blue"> My shop!</b>
    </a>
    <ul class="dropdown-menu">
        <li><a style="color:blue" class="dropdown-item" href="/shophome">shophome</a></li>
        <li><a style="color:blue" class="dropdown-item" href="/shopproduct">shopproduct</a></li>
        <li><a style="color:blue" class="dropdown-item" href="/shopnews">shopnews</a></li>
        <li><a style="color:blue" class="dropdown-item" href="/shoporder">shopcontact</a></li>
        <li><a style="color:blue" class="dropdown-item" href="/shoporder">shoporder</a></li>
        <li><a style="color:blue" class="dropdown-item" href="/shopcart">shopcart</a></li>
        <li><a style="color:blue" class="dropdown-item" href="/shopprofile">shopprofile</a></li>
        <li><a style="color:blue" class="dropdown-item" href="/shopreview">shopreview</a></li>
        <li><a style="color:blue" class="dropdown-item" href="/shopcatalog">shopcatalog</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</li>