<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/index8">index8</a></li>
        <li class="breadcrumb-item"><a href="/summary">Summary</a></li>
        <li class="breadcrumb-item"><a href="/skills">Skills</a></li>
        <li class="breadcrumb-item"><a href="/education">Education</a></li>
        <li class="breadcrumb-item"><a href="/work">Work</a></li>
        <li class="breadcrumb-item"><a href="/js">JS</a></li>
        <li class="breadcrumb-item"><a href="/web">web</a></li>
        <li class="breadcrumb-item"><a href="/car">car</a></li>
        <li class="breadcrumb-item"><a href="/mac">mac</a></li>
        <li class="breadcrumb-item"><a href="/website">website</a></li>
        <li class="breadcrumb-item"><a href=""></a></li>
        {{>myshope}}
        {{>trach}}
        {{>pist}}
        </li>
    </ol>
</nav>