<li class="nav-item dropdown ms-4">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <b style="color:rgb(184, 135, 160)">CSS-pistons</b>
    </a>
    <ul class="dropdown-menu">
        <li><a style="color:rgb(184, 135, 160)" class="dropdown-item" href="/selector1">selector1</a></li>
        <li><a style="color:rgb(184, 135, 160)" class="dropdown-item" href="/bio"><s>bio</s></a></li>
        <li><a style="color:rgb(184, 135, 160)" class="dropdown-item" href="/bootstrap"><s>bio</s></a></li>
        <li><a style="color:rgb(184, 135, 160)" class="dropdown-item" href="/error"><s>bio</s></a></li>
        <li><a style="color:rgb(184, 135, 160)" class="dropdown-item" href="/facebook"><s>bio</s></a></li>
        <li><a style="color:rgb(184, 135, 160)" class="dropdown-item" href="/index"><s>bio</s></a></li>
        <li><a style="color:rgb(184, 135, 160)" class="dropdown-item" href="/task21"><s>bio</s></a></li>
        <li><a style="color:rgb(184, 135, 160)" class="dropdown-item" href="/task22"><s>bio</s></a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</li>