<li class="nav-item dropdown ms-3">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <b style="color:rgb(157, 157, 162)">trash collection</b>
    </a>
    <ul class="dropdown-menu">
        <li><a style="color:rgb(157, 157, 162)" class="dropdown-item" href="/person">Person</a></li>
        <li><a style="color:rgb(157, 157, 162)" class="dropdown-item" href="/bio">bio</a></li>
        <li><a style="color:rgb(157, 157, 162)" class="dropdown-item" href="/program">program</a></li>
        <li><a style="color:rgb(157, 157, 162)" class="dropdown-item" href="/bootstrap">bootstrap</a></li>
        <li><a style="color:rgb(157, 157, 162)" class="dropdown-item" href="/error">error</a></li>
        <li><a style="color:rgb(157, 157, 162)" class="dropdown-item" href="/facebook">facebook</a></li>
        <li><a style="color:rgb(157, 157, 162)" class="dropdown-item" href="/index">index</a></li>
        <li><a style="color:rgb(157, 157, 162)" class="dropdown-item" href="/task21">task21</a></li>
        <li><a style="color:rgb(157, 157, 162)" class="dropdown-item" href="/task22">task22</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</li>